@charset "utf-8";
h1{
    text-align: center  ;
}

section{
    text-align: center;
    border: black;
}
section{
    text-align: left;
    border: black;
}
body{
    text-decoration: black;
    background-color: lightsalmon;
}

.about-me{
    border: blanchedalmond;
} 